//CONFIG//

@mixin reset(){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

//cores//
$secundaryColor: #182C61;
$primaryColor:#f5f6fa;
$textColor:#fff;

//breakpoiters//
$tablet:1023px;
$mobile:767px;

//PRODUTOS///
@mixin botao(){
    display: block;
        background-color: #44bd32;
        color: #fff;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        text-decoration: none;
}

//BOTOES//
@mixin produtos(){
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;
}

* {
    @include reset;
}

body {
    background-color: $primaryColor;
}


.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

//HEADER//

header {
    background-color: $secundaryColor;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    .menu {
        display: flex;

        li {
            font-weight: bold;
            margin-left: 24px;
            list-style: none;

            a {
                color: $textColor;
                text-decoration: none;
            }
        }

    }
}


//SECTIONS///

section {
    padding: 56px 0;
}

.products {
    @include produtos;

    .product-item img {
        width: 100%;
        border-radius: 16px;
    }
    
    .product-button {
        @include botao;
    
        &:hover{
            background-color: #4cd137;
        }
    }
}







@media screen and (max-width: $tablet) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: $mobile) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}