body{
    background-color: rgb(15, 14, 14);
    color: rgb(218, 168, 103);
    
}
.imagens{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        

        img{
            width: 500px;
            margin: 5px;
        }
        .botao{
            padding: 10px;
            color: rgb(155, 15, 5);
            font-size: 20px;
            background-color: black;
        }
    }